<div class="demo">
<button
  ng-repeat="tab in vm.tabs"
  ng-class="['tab-button', { 'active': vm.currentTab === tab }]"
  ng-click="vm.currentTab = tab"
>{{ tab }}</button>
  <tab-home ng-if="vm.isCurrTabIsMe('tab-home')" class="tab" text="vm.text" my-touch="vm.onTouch({text})"></tab-home>
  <tab-posts ng-if="vm.isCurrTabIsMe('tab-posts')" class="tab" text="vm.text" my-touch="vm.onTouch({text})">
    <tab-archive text="vm.text" my-touch="vm.onTouch({text})"></tab-archive>
  </tab-posts>
  <tab-archive ng-if="vm.isCurrTabIsMe('tab-archive')" class="tab" text="vm.text" my-touch="vm.onTouch({text})"></tab-archive>
  <input ng-model="vm.text" placeholder="edit me">
  <div>{{ vm.message }}</div>
</div>
